body {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: black;
  padding: 10px;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#playlist-container {
  padding-top: 10px;
  width: 100%;
}
label {
  color: white;
}

#submit-btn,
#genres,
#mood,
#artistsInput {
  background: transparent;
  border: 2px solid;
  border-image: linear-gradient(
    to bottom right,
    #e299da,
    #c87bf1,
    #6cd0f8,
    #5dffcb
  );
  border-image-slice: 1;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;

  margin-top: 10px;
  margin-bottom: 5px;
  width: 200px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.label {
  text-align: center;
  width: 100px;
}

.item {
  margin-top: 10px;
  width: 100%;
}

select option {
  color: black;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

#submit-btn {
  width: 45%;
  margin-top: 20px;
  margin-right: 60px;
}
